# C/C++ files and Craft-specific files
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
cmake_install.cmake
env
log.txt
*.o
*.db
*.exe
*.dll
*.pyc

# Blender Cache Files
*.blend1

build/
.vscode
.vs

# Script output files
scripts/*.txt
scripts/*.png
!scripts/nopath.png
!scripts/wilsons_maze.png
scripts/*.PNG
scripts/*.jpg
scripts/*.jpeg
scripts/*.JPG
scripts/*.JPEG

# Dear Imgui config
*.ini

# Python
.venv