# C/C++ files and Craft-specific files
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
cmake_install.cmake
env
log.txt
*.o
*.db
*.exe
*.dll
*.pyc

build/
build-*/
.vscode
.vs

.idea/

# Script output files
scripts/*.txt
scripts/*.png
scripts/*.PNG
scripts/*.jpg
scripts/*.jpeg
scripts/*.JPG
scripts/*.JPEG
scripts/*.bmp
!scripts/sample_icon.bmp
!scripts/sample_maze.png
!scripts/BreakingWallsMask.png
!scripts/mask.txt

# Ruby
Gemfile.lock
!Gemfile

# Dear Imgui config
*.ini

# Python
.venv
scripts/__pycache__/

# Cppcheck XML
sources/cppcheck.xml